<!doctype html>
<html lang="en">
<head>    

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Sell Here</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/seller.css" rel="stylesheet">

    
</head>
	<body>
       <div>
			<form enctype="multipart/form-data" action="/sellItems" method="post">
            <fieldset>
                <legend><strong>Item Details</strong></legend>
                 <label for="title"><strong>Title</strong></label><br>
                    <input type ="text" name = "title" placeholder="Post title" width="150" /><br>
                    <label for="name"> <strong>Name</strong></label><br>
                    <input type = "text" name ="name" placeholder="Seller Name" /><br>
                    <label for="email"><strong> Email Id</strong></label><br>
                    <input type = "email" name = "email" placeholder="abc@example.com" /><br>
                    <label for="phone"><strong>Phone number</strong></label><br>
                    <input type ="tel" name = "phone" placeholder="Phone number" ><br> 
                    
                    <label for="desc"><strong>Item Description</strong></label><br>
                    <textarea name = "desc" placeholder="Description" ></textarea><br>
                    <label for="price"><strong>Price</strong></label><br>
                    <input type="number" name = "price" placeholder="Price in $" ><br>
                    <label for="location"><strong>City</strong></label><br>
                    <input type="text" name = "location" placeholder="City/Locality name" ><br>
                    
                     <select  name="category" >
                     <option value="Automobiles">Automobiles</option><br>
                     <option value="Electronics">Electronics</option><br>
                     <option value="Kitchen">Kitchen</option><br>
                     <option value="Fashion">Fashion</option><br>
                     <option value="Others">Others</option><br>
                     </select>

                    
                    <input type ="radio" name = "pick" id="pickn" value ="pickn" >
                    <label for="pick">Can deliver</label>
                    <input type ="radio" name = "pick" id="picky" value = "picky">
                    <label for="picky">Pick Up only</label>

                    <input type="file" name="pic" id="file" accept="image/*"><br><br>   
                    <button type="submit" class="btn"><strong>Post the Ad!</strong> </button>
                    <button class="btn"><strong>Reset</strong> </button>

            </fieldset>

        </form>     

	    <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Garage Sale 2017</p>
                </div>
            </div>
        </footer>
  <div>      
</body>
 <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
</html>


