.ul_style li{
	display: inline;
	color: white;
}

.ul_style li:not(:first-child):before
{	
 content: '|';
 padding: 0px 10px;
}

.ul_style{
	margin-top:13px;
}
.link_style{
	color:white;
	font-size:15px;
}

.link_style:hover{
	color:white;
}
.talble{
	padding-left: 10px; 
}

.brand_label{
	margin-top:20px;
	color:white;
	font-size:20px;
	font-family:"Comic Sans MS", cursive, sans-serif
}

.brand{
	margin-top:8px !important;
}

body{
    background-color: #f2f2f2;
}

.dash{
    align-content: center;
	background-color: #f2f2f2;
	padding:20px;
	margin-top:-25px;
    height: auto;
    width: auto;
}

.options{
	margin-top:30px;
	padding:20px;
}

.genreStyle{
	margin-top:-10px;
}

.nameStyle{
	color:#33AFFF;
}

.summaryStyle{
	color:#666666;
	font-size:20px;
}

.paraStyle{
	font-size:20px;
}

.image{
	margin-top:40px;
}

.alertColor{
	color: red;
}

.btn-style{
	margin-top:15px;
	margin-right:5px;
}

#trailer{
	margin-top : 20px;
}

.asterisk{
	font-size: x-large; 
}

.labelStart{
	padding-top:40px;
	padding-bottom:30px;
}


